[buildout]
parts =
    utray
    utray-script

develop = .

path-to-unison = /usr/local/bin/unison


[utray]
recipe = z3c.recipe.scripts
eggs = utray
interpreter = py
arguments = "${buildout:path-to-unison}"


[utray-script]
recipe = collective.recipe.template
input = inline:
    #!/bin/bash
    ${buildout:directory}/bin/tray >& ${buildout:directory}/var/utray.log &
output = ${buildout:directory}/bin/utray
mode = 755